.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  background-color: rgb(14, 1, 1);
  color: rgb(255, 255, 255);
   padding: 0 256px;
}

.mat-toolbar button {
  color: aliceblue;
}

.mat-toolbar .btn_cadastrar {
  background-color: #6750a4;
  border-radius: 5px;
}
.mat-toolbar .btn_login {
  border-width: 2px;
  border-style: solid;
  border-color: #9d96b3bb;
  border-radius: 5px;
  margin-left: 10px;
  color: #6750a4;
  padding: 0 20px;
  font-weight: bolder;

}


